{% extends 'scaizen.html' %} {% block title %}Ordenes del día {% endblock %} {%
  block tables %}
  
  <label class="titulo">Reporte de Operaciones Diarias </label><br />
  
  <form
    id="cargasForm"
    method="POST"
    action="{{ url_for('app_scaizen.planificacion_carga') }}"
  >
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
  
    <label>Fecha de inicio:</label>
  
    <input type="text" id="datepicker_start" name="selected_start" required />

    <select style="text-align: center" name="transport1" id="transport1" class="btn btn-outline-success">
      <option value="" disabled selected>Seleccione el Producto</option>
      <option value="all" >Todos</option>
      <option value="premium" >Premium</option>
      <option value="regular" >Magna</option>
      <option value="diesel" >Diesel</option>
    </select>
  
  <!--  <label>Fecha de finalización:</label>
  
    <input
      class="datepicker"
      type="text"
      id="datepicker_end"
      name="selected_end"
      required
    />-->
  
    <button type="button" id="obtenerfechas" class="btn btn-outline-success">
      Enviar
    </button>
  </form>
  <!-- Tu tabla va aquí -->
  <table class="table" id="tabla-orden">
    <thead>
      <tr>
        <th>ID</th>
        <th>Creación</th>
        <th>Entrega</th>
        <th>Origen / Destino</th>
        <th>Operador</th>
        <th>Vol. Prog</th>
        <th>Vol. Nat</th>
        <th>Vol. Neto</th>
        <th>Temp</th>
        <th>Producto</th>
        <th>Tipo</th>
        <th>Estatus</th>
        <th>Batch</th>
      </tr>
    </thead>
    <tbody>
      <tr id="search" style="display: table-row">
        <td
          style="font-weight: bold; text-align: center; background-color: #ccc"
          valign="Top"
          colspan="13"
        >
          Selecciona las fechas de inicio y fin
        </td>
      </tr>
      <tr id="loader-row" style="display: none">
        <td colspan="13" style="text-align: center">
          <div class="typing-indicator">
            <div class="typing-circle"></div>
            <div class="typing-circle"></div>
            <div class="typing-circle"></div>
            <div class="typing-shadow"></div>
            <div class="typing-shadow"></div>
            <div class="typing-shadow"></div>
          </div>
        </td>
      </tr>
    </tbody>
    <thead>
      <tr>
        <th>ID</th>
        <th>Creación</th>
        <th>Entrega</th>
        <th>Orginen / Destino</th>
        <th>Operador</th>
        <th>Vol. Prog</th>
        <th>Vol. Nat</th>
        <th>Vol. Neto</th>
        <th>Temp</th>
        <th>Producto</th>
        <th>Tipo</th>
        <th>Estatus</th>
        <th>Batch</th>
      </tr>
    </thead>
  </table>
  
  <nav
    aria-label="Paginación"
    class="ulpgcds-pager"
    id="navbar"
    style="display: none"
  >
    <div id="mostrando"></div>
    <div id="paginacion"></div>
  </nav>
  
  <script>
    $(function () {
      var startDate, endDate;
  
      $("#datepicker_start").datepicker({
        dayNames: [
          "Domingo",
          "Lunes",
          "Martes",
          "Miércoles",
          "Jueves",
          "Viernes",
          "Sábado",
        ],
        dayNamesMin: ["Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sá"],
        monthNames: [
          "Enero",
          "Febrero",
          "Marzo",
          "Abril",
          "Mayo",
          "Junio",
          "Julio",
          "Agosto",
          "Septiembre",
          "Octubre",
          "Noviembre",
          "Diciembre",
        ],
        monthNamesShort: [
          "Ene",
          "Feb",
          "Mar",
          "Abr",
          "May",
          "Jun",
          "Jul",
          "Ago",
          "Sep",
          "Oct",
          "Nov",
          "Dic",
        ],
        dateFormat: "yy-mm-dd",
        firstDay: 1, // Lunes como primer día de la semana
        onSelect: function (selectedDate) {
          // Al seleccionar una fecha en el primer datepicker
          startDate = $(this).datepicker("getDate");
  
          // Configura la opción minDate del segundo datepicker para ser un día después de la fecha seleccionada en el primer datepicker
          /*$("#datepicker_end").datepicker(
            "option",
            "minDate",
            addDays(startDate, 1)
          );*/
          startDate = $(this).datepicker("getDate");
        },
      });
  
   /*   $("#datepicker_end").datepicker({
        dayNames: [
          "Domingo",
          "Lunes",
          "Martes",
          "Miércoles",
          "Jueves",
          "Viernes",
          "Sábado",
        ],
        dayNamesMin: ["Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sá"],
        monthNames: [
          "Enero",
          "Febrero",
          "Marzo",
          "Abril",
          "Mayo",
          "Junio",
          "Julio",
          "Agosto",
          "Septiembre",
          "Octubre",
          "Noviembre",
          "Diciembre",
        ],
        monthNamesShort: [
          "Ene",
          "Feb",
          "Mar",
          "Abr",
          "May",
          "Jun",
          "Jul",
          "Ago",
          "Sep",
          "Oct",
          "Nov",
          "Dic",
        ],
        dateFormat: "yy-mm-dd",
        firstDay: 1, // Lunes como primer día de la semana
        onSelect: function (selectedDate) {
          endDate = $(this).datepicker("getDate");
        },
      });*/
  
      $("#obtenerfechas").click(function () {
        // Aquí puedes usar las variables startDate y endDate como desees
        //if (startDate && endDate) {
        if (startDate) {  
          console.log("Fecha de inicio: ", startDate);
          //console.log("Fecha de finalización: ", endDate);
        } else {
          console.log("Seleccione ambas fechas");
        }
      });
      function addDays(date, days) {
        var result = new Date(date);
        result.setDate(result.getDate() + days);
        return $.datepicker.formatDate("yy-mm-dd", result); // Formatear la fecha al mismo formato utilizado en los datepickers
      }
    });
  </script>
  <script>
    $(document).ready(function (pageNumber) {
      $("#obtenerfechas").click(function (event) {
        event.preventDefault();
  
        var startDate = $("#datepicker_start").datepicker("getDate");
       // var endDate = $("#datepicker_end").datepicker("getDate");
        var pageNum = $(this).data("page");
  
       // if (startDate && endDate) {
        if (startDate) {
  
        var csrfToken = $("input[name='csrf_token']").val();
  
          var formData = {
            selected_start: startDate.toISOString(),
            //selected_end: endDate.toISOString(),
            csrf_token: csrfToken,
            page: pageNum,
          };
          //Paginacion
          var maxPagesToShow = 10;
          var pagina_actual;
          var total_paginas;
          $.ajax({
            url: "{{ url_for('app_scaizen.reporte_ordendia') }}",
            data: formData,
            type: "POST",
            beforeSend: function () {
              $("#search").css("display", "none"); // Ocultar el elemento con el id "search"
              // Mostrar el loader antes de enviar la solicitud AJAX
              $("#loader-row").show();
            },
            success: function (response) {
              $("#loader-row").hide();
  
              pagina_actual = response.paginactual;
              total_paginas = response.total_paginas;
              $("#tabla-orden tbody").empty();
              if (response.operaciones && response.operaciones.length > 0) {
                response.operaciones.forEach(function (operacion) {
                  $("#tabla-orden tbody").append(`
                                  <tr>
                                      <td>${operacion.id_orden_fk_diario}</td>
                                      <td>${
                                        operacion.date_created_dia_diario
                                      } </td>
                                      <td>${operacion.date_updated_diario}</td>
                                      <td>Planta Pinza <i class="fa fa-arrow-right"></i>${
                                        operacion.nombre_comercial_diario
                                          ? operacion.nombre_comercial_diario
                                          : " Desconocido "
                                      }</td>
                                      <td>${operacion.ucl_operador_diario}</td>
                                      <td>${
                                        operacion.cantidad_programada_diario
                                      } lts</td>
                                      <td>${
                                        operacion.volumen_natural_diario
                                      } lts</td>
                                      <td>${
                                        operacion.volumen_neto_diario
                                      } lts</td>
                                      <td>${
                                        operacion.temperatura_promedio_diario
                                      }</td>
                                      <td>${
                                        operacion.producto_diario == "regular"
                                          ? '<span style="color:#f6f6f6; background-color:#00923f;" class="b-r-xl label">PX MAGNA</span>'
                                          : operacion.producto_diario == "diesel"
                                          ? '<span style="color:#f6f6f6; background-color:#5B5655;" class="b-r-xl label">PX DIESEL</span>'
                                          : ""
                                      }</td>    
                                      <td>${operacion.tipo_diario}</td>  
                                      <td>${operacion.estado_diario}</td>
                                  </tr>
                              `);
                });
              } else {
                $("#tabla-orden tbody").append(`
                              <tr>
                                  <td colspan="13" style="font-weight:bold; text-align:center; background-color:#ccc;">Ningún dato disponible</td>
                              </tr>
                          `);
              }
  
              if (
                response.mostrando &&
                response.total_paginas &&
                response.cantidad &&
                response.paginactual
              ) {
                $("#mostrando").empty().append(`
                                  <nav aria-label="Paginación" class="ulpgcds-pager" >
                                      <div class="ulpgcds-pager__results">
                                          ${response.mostrando} de ${response.cantidad} registros | Páginas: ${response.paginactual} /${response.total_paginas} 
                                      </div>
                                  </nav>
                              `);
                $("#navbar").css("display", "block"); // Mostrar el elemento
              } else {
                console.log("Error al mostrar");
              }
  
              $("#paginacion").empty(); // Limpiar el contenido anterior
  
              // Generar enlaces de paginación dinámicamente
              for (
                var i = 1;
                i <= Math.min(response.total_pages, maxPagesToShow);
                i++
              ) {
                var link = $("<a>", {
                  href: "#",
                  class: "pagination-link",
                  "data-page": i,
                  text: i,
                });
  
                link.click(function (event) {
                  event.preventDefault();
                  var pageNumber = $(this).data("page");
                  $.ajax({
                    url: "{{ url_for('app_scaizen.reporte_ordendia') }}",
                    data: {
                      selected_start: startDate.toISOString(),
                      //selected_end: endDate.toISOString(),
                      csrf_token: csrfToken,
                      page: pageNumber,
                    },
                    type: "POST",
                    success: function (response) {
                      pagina_actual = response.paginactual;
                      total_paginas = response.total_paginas;
                      $("#tabla-orden tbody").empty();
                      if (
                        response.operaciones &&
                        response.operaciones.length > 0
                      ) {
                        response.operaciones.forEach(function (operacion) {
                          $("#tabla-orden tbody").append(`
                                                          <tr>
                                                              <td>${
                                                                operacion.id_orden_fk_diario
                                                              }</td>
                                                              <td>${
                                                                operacion.date_created_dia_diario
                                                              } </td>
                                                              <td>${
                                                                operacion.date_updated_diario
                                                              }</td>
                                                              <td>Planta Pinza <i class="fa fa-arrow-right"></i>${
                                                                operacion.nombre_comercial_diario
                                                              }</td>
                                                              <td>${
                                                                operacion.ucl_operador_diario
                                                              }</td>
                                                              <td>${
                                                                operacion.cantidad_programada_diario
                                                              } lts</td>
                                                              <td>${
                                                                operacion.volumen_natural_diario
                                                              } lts</td>
                                                              <td>${
                                                                operacion.volumen_neto_diario
                                                              } lts</td>
                                                              <td>${
                                                                operacion.temperatura_promedio_diario
                                                              }</td>
                                                              <td>${
                                                                operacion.producto_diario ==
                                                                "regular"
                                                                  ? '<span style="color:#f6f6f6; background-color:#00923f;" class="b-r-xl label">PX MAGNA</span>'
                                                                  : operacion.producto_diario ==
                                                                    "diesel"
                                                                  ? '<span style="color:#f6f6f6; background-color:#5B5655;" class="b-r-xl label">PX DIESEL</span>'
                                                                  : ""
                                                              }</td>    
                                                              <td>${
                                                                operacion.tipo_diario
                                                              }</td>  
                                                              <td>${
                                                                operacion.estado_diario
                                                              }</td>
                                                          </tr>
                                                      `);
                        });
                      } else {
                        $("#tabla-orden tbody").append(`
                                                      <tr>
                                                          <td colspan="10" style="font-weight:bold; text-align:center; background-color:#ccc;">Ningún dato disponible</td>
                                                      </tr>
                                                  `);
                      }
                      if (
                        response.mostrando &&
                        response.total_paginas &&
                        response.cantidad &&
                        response.paginactual
                      ) {
                        $("#mostrando").empty().append(`
                                                          <nav aria-label="Paginación" class="ulpgcds-pager" >
                                                              <div class="ulpgcds-pager__results">
                                                                  ${response.mostrando} de ${response.cantidad} registros | Páginas: ${response.paginactual} /${response.total_paginas} 
                                                              </div>
                                                          </nav>
                                                      `);
                        $("#navbar").css("display", "block"); // Mostrar el elemento
                      } else {
                        console.log("Error al mostrar");
                      }
  
                      // Mostrar el botón "prev" solo si el número de página seleccionado es mayor que 1
                      if (pageNumber > 1) {
                        $("#prev-button").show();
                      } else {
                        $("#prev-button").hide();
                      }
  
                      // Mostrar el botón "next" solo si el número de página seleccionado es menor que el total de páginas
                      if (currentPage < totalPages) {
                        $("#next-button").show();
                      } else {
                        $("#next-button").hide();
                      }
                    },
                    error: function (xhr, status, error) {
                      console.error("Error en la solicitud AJAX:", error);
                    },
                  });
                });
                // Agregar un controlador de eventos al enlace para enviar la página al servidor
                $("#paginacion").append(link);
              }
  
              var prevButton = $("<a>", {
                href: "#",
                class: "pagination-link",
                id: "prev-button",
              })
                .html('<i class="fas fa-chevron-circle-left"></i>')
                .css({ color: "black", display: "none" });
              var nextButton = $("<a>", {
                href: "#",
                class: "pagination-link",
                id: "next-button",
              })
                .html('<i class="fas fa-chevron-circle-right"></i>')
                .css({ color: "black" });
  
              $("#paginacion").prepend(prevButton); // jQuery inserta el elemento prevButton antes de todos los demás elementos hijos del contenedor #paginacion,
              $("#paginacion").append(nextButton); //después de todos los demás elementos hijos del contenedor #paginacion,
  
              console.log(pagina_actual);
              // Manejar el evento de clic en el botón de avance
              $("#next-button").click(function (e) {
                e.preventDefault();
                pagina_actual++;
                if (pagina_actual >= 1) {
                  pagination_link(pagina_actual);
                }
                console.log(pagina_actual);
  
                if (pagina_actual == total_paginas) {
                  $(this).hide(); // Ocultar el botón de avance cuando se alcanza el límite
                  console.log("Desactivado Siguiente");
                }
  
                $("#prev-button").show(); // Mostrar el botón de retroceso
              });
  
              $("#prev-button").click(function (e) {
                e.preventDefault();
                pagina_actual--;
                if (pagina_actual > 0) {
                  pagination_link(pagina_actual);
                }
                console.log(pagina_actual);
  
                if (pagina_actual == 1) {
                  $(this).hide(); // Ocultar el botón de retroceso cuando la página actual es cero
                  console.log("Desactivado Retroceso");
                }
  
                $("#next-button").show(); // Mostrar el botón de avance
              });
  
              function pagination_link(pagina_actual) {
                // Esta función se llama cuando se hace clic en un enlace de paginación
                event.preventDefault();
                var pageNumber = pagina_actual;
                $.ajax({
                  url: "{{ url_for('app_scaizen.reporte_ordendia') }}",
                  data: {
                    selected_start: startDate.toISOString(),
                    //selected_end: endDate.toISOString(),
                    csrf_token: csrfToken,
                    page: pageNumber,
                  },
                  type: "POST",
                  success: function (response) {
                    pagina_actual = response.paginactual;
                    $("#tabla-orden tbody").empty();
                    if (response.operaciones && response.operaciones.length > 0) {
                      response.operaciones.forEach(function (operacion) {
                        $("#tabla-orden tbody").append(`
                                                  <tr>
                                                      <td>${
                                                        operacion.id_orden_fk_diario
                                                      }</td>
                                                      <td>${
                                                        operacion.date_created_dia_diario
                                                      } </td>
                                                      <td>${
                                                        operacion.date_updated_diario
                                                      }</td>
                                                      <td>Planta Pinza <i class="fa fa-arrow-right"></i>${
                                                        operacion.nombre_comercial_diario
                                                      }</td>
                                                      <td>${
                                                        operacion.ucl_operador_diario
                                                      }</td>
                                                      <td>${
                                                        operacion.cantidad_programada_diario
                                                      } lts</td>
                                                      <td>${
                                                        operacion.volumen_natural_diario
                                                      } lts</td>
                                                      <td>${
                                                        operacion.volumen_neto_diario
                                                      } lts</td>
                                                      <td>${
                                                        operacion.temperatura_promedio_diario
                                                      }</td>
                                                      <td>${
                                                        operacion.producto_diario ==
                                                        "regular"
                                                          ? '<span style="color:#f6f6f6; background-color:#00923f;" class="b-r-xl label">PX MAGNA</span>'
                                                          : operacion.producto_diario ==
                                                            "diesel"
                                                          ? '<span style="color:#f6f6f6; background-color:#5B5655;" class="b-r-xl label">PX DIESEL</span>'
                                                          : ""
                                                      }</td>    
                                                      <td>${
                                                        operacion.tipo_diario
                                                      }</td>  
                                                      <td>${
                                                        operacion.estado_diario
                                                      }</td>
                                                  </tr>
                                              `);
                      });
                    } else {
                      $("#tabla-orden tbody").append(`
                                              <tr>
                                                  <td colspan="13" style="font-weight:bold; text-align:center; background-color:#ccc;">Ningún dato disponible</td>
                                              </tr>
                                          `);
                    }
                    if (
                      response.mostrando &&
                      response.total_paginas &&
                      response.cantidad &&
                      response.paginactual
                    ) {
                      $("#mostrando").empty().append(`
                                              <nav aria-label="Paginación" class="ulpgcds-pager">
                                                  <div class="ulpgcds-pager__results">
                                                      ${response.mostrando} de ${response.cantidad} registros | Páginas: ${response.paginactual} /${response.total_paginas}
                                                  </div>
                                              </nav>
                                          `);
                      $("#navbar").css("display", "block"); // Mostrar el elemento
                    } else {
                      console.log("Error al mostrar");
                    }
                  },
                  error: function (xhr, status, error) {
                    console.error("Error en la solicitud AJAX:", error);
                  },
                });
              }
            },
            error: function (xhr, status, error) {
              console.error("Error en la solicitud AJAX:", error);
            },
          });
        } else {
          console.log("Seleccione ambas fechas");
        }
      });
    });
  </script>
  {% endblock %}
  